*{
    margin: 0;
    padding: 0;
}
body{
       width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    margin: 50px auto;
    width: 50%;
}

.img-box img{
    width: 400px;
}
#view {
text-align: center;

top: 0;
}

.pics{
    bottom: 0;
}
.pics img{
    width: 100px;

}
.pics img:hover{
    cursor: pointer;
}
.btn{
    border: none;
    outline: none;
    background-color: #888;
    padding: 10px 30px;
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
    margin: 10px auto;
}
.btn:hover{
    background-color: #111;
}
